.Dash
    display: flex
    justify-content: center
    align-items: center

    &__Container
        // background-color: yellow
        padding: 10px
        text-decoration: none
        margin: 15px
        width: 700px

        &__Item
            border: 1px solid
            width: 20%
            height: 200px
            // height: auto
            position: relative

            &__Iframe
                position: relative
                width: 100px
                height: 100%

.Iframe__target
    width: 100%
    transform: scale(1)
    transform-origin: 0 0
    position: absolute
    left: 0
