.profile
    padding-top: 100px
.gridTwo
    display: grid
    grid-template-columns: 47% 5%
    justify-content: center

.gridTwo_reverse
    display: grid
    grid-template-columns: auto 50%
    justify-content: center
            
.imgnoneborde
    display: flex
    background-color: transparent
    border: none
.border_radius_medium
    border-radius: 40px
    border: 1px solid  black
    max-width: 600px
.gap20
    gap: 20px    




