input:-internal-autofill-selected
    background: none !important
    appearance: none !important
    color: none !important
    background-image: none !important
    background-color: none !important
.center_forms
    align-content: center
    justify-content: center
    align-items: center
    display: flex
    background:  red
    
.form_register
    width: 283px
    justify-content: center
    align-content: center
    display: flex

.areaA
    grid-area: a
.areaB
    grid-area: b
.areaC
    grid-area: c
.areaD
    grid-area: d
.areaE
    grid-area: e
.areaF
    grid-area: f
.areaG
    grid-area: g
.areaI
    grid-area: i
.areaI
    grid-area: j

select
    background: transparent
    border: none
    font-size: 14px
    height: 30px
    padding: 5px

    color: #CDF0EA
.btn_form
    margin-top: 2rem
    background-color: transparent
    color: #CDF0EA
::placeholder
    color: #CDF0EA
