.NoteComponent
    background-color: #ffff88
    padding: .5rem
    display: flex
    flex-direction: column
    border-radius: 1rem
    width: 70%

.noteButtons
    align-self: flex-end

.editButton
    background-color: #4D4E84
    color: white
    border-radius: .2rem
    font-size: .8rem
    padding: .2rem
    width: 30px

.removeButton
    background-color: darkred
    color: white
    border-radius: .2rem
    font-size: .8rem
    padding: .2rem
    width: 30px
    align-self: flex-end

.noteText
    margin: .8rem