.Button
    border-radius: 0.3rem
    border: 2px solid #445b47
    background-color: rgb(144,173,179)

.form
    border-radius: 0.3rem
    border: 2px solid #445b47
    background-color: #cce0cebd
    

.Profile
    margin-bottom: 2rem