.HelloWorld {
    background: linear-gradient(to right, #005AA7, #b0cde2, #b0cde2,#005AA7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

h1 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 22px;
    margin: 6px;
}