.notelist
    padding: 0
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center
    margin-top: 3rem
    margin-bottom: 3rem
    gap: 1rem
    list-style-type: none


.note 
    background-color: #E9EFC0
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center
    border-radius: 0.25rem


    padding: 8px 8px
    height: 100px
    width: 160px
    text-align: center
    
