.Home
    height: 100%
    width: 100%
    
.Home__header
    position: fixed
    top: 0
    background-color: #DAE5D0
    width: 100%


.Home__body
    overflow: auto
    width: 100%
    padding-top: 5rem

.Home__footer
    position: fixed
    bottom: 0
    background-color: #DAE5D0
    width: 100%


.btn
    
    
    border: none
    cursor: pointer
    padding: 0 24px
    border-radius: 50px
    min-width: 200px
    height: 50px
    font-size: 18px
    background-color: #FFEF82
    font-weight: 500
    color: #222
                

.profilebutton
    
    
    outline: none
    cursor: pointer
    font-size: 16px
    line-height: 20px
    font-weight: 600
    border-radius: 8px
    padding: 14px 24px
    border: none
    transition: box-shadow 0.2s ease 0s, -ms-transform 0.1s ease 0s, -webkit-transform 0.1s ease 0s, transform 0.1s ease 0s
    background: #A0BCC2
    color: #fff

.logoutbutton
   
    outline: none
    cursor: pointer
    font-size: 16px
    line-height: 20px
    font-weight: 600
    border-radius: 8px
    padding: 14px 24px
    border: none
    transition: box-shadow 0.2s ease 0s, -ms-transform 0.1s ease 0s, -webkit-transform 0.1s ease 0s, transform 0.1s ease 0s
    background: #A0BCC2
    color: #fff

.homebutton
    
    outline: none
    cursor: pointer
    font-size: 30px
    line-height: 20px
    font-weight: 600
    border-radius: 8px
    padding: 14px 24px
    border: none
    transition: box-shadow 0.2s ease 0s, -ms-transform 0.1s ease 0s, -webkit-transform 0.1s ease 0s, transform 0.1s ease 0s
    background: #A0BCC2
    color: #fff
                
    


