.App
    display: flex
    justify-content: center
    align-items: center
    flex-direction: column

    &--row
        flex-direction: row
        margin: .75rem 0

        button
            margin: 0 .25rem

    input
        &[type=number]
            width: 100px
            padding: 1.5rem
            text-align: right
            font-size: 1.2rem

.App__title
    color: dodgerblue
