.Sticker
    background-color: #FCF69C
    padding: 1rem
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center
    border-radius: 7px
    box-shadow: 4px 4px 2px grey

.Sticker__form
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center

.savebutton
    padding: 15px 25px
    font-size: 14px
    text-align: center
    cursor: pointer
    
    color: black
    background-color: #F9EBC8
    border: none
    border-radius: 15px
    box-shadow: 0 6px #999

.savebutton:active
    background-color: #BABD42
    box-shadow: 0 5px #666
    transform: translateY(4px)

.eliminatebutton

    padding: 1px 20px
    font-size: 24px
    
    cursor: pointer
    outline: none
    color: black
    background-color: #F9EBC8
    border: none
    border-radius: 15px
    box-shadow: 0 6px #999