.Home {
    background-color: yellowgreen;
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    align-items: center;
    min-height: 86vh;
}

.Home button {
    margin-bottom: .75rem
}