.Input
    margin: .5rem
    font-size: inherit
    text-indent: .5rem
    border: 1px solid black
    border-radius: .25rem
    background-color: transparent
    cursor: text
    color: black

    &--light
        border-color: white
        color: white
        &:focus
            outline: auto

    &--light::placeholder
        color: #EEE