.AboutUs
    height: 100%
    background-color: yellow
    background-size: cover
    background-attachment: fixed
    display: flex
    align-items: center
    justify-content: center

.Arrow
    width:18px
    heigth: 18px