.AboutUs
    height: 100%
    background-color: f9f7f8
    

.AboutUs__h1
    padding-top:100%
    color: #bea28c
    padding-top: 60%
    padding-left: 10%
    
    

.AboutUs__text
    background-color: f9f7f8
  
    text-align: center
    vertical-align: middle
    font-size: small
    
    padding-top:15%
    padding-bottom: 25%
    padding-right: 15%
    padding-left: 15%
    
    border-color: #bea28c
    border: #bea28c 1px groove
    heigth: 60%
    width: 80%
    border-radius: 10%
    


.AboutUs__numbers
    background-color: f9f7f8
    font-size: small
    height:20px
    width:20px
    padding-top:20%
    padding-left: 50%
    -moz-border-radius:40px
    -webkit-border-radius:40px
    border-radius:30px
    color: #bea28c
   

.Arrow
    color: #f5cf8e
    font-size: 60px
    padding-right:0%
    
    
    
    
    
    

