.App
    height: 150%
    weigth:100%
    background-image: url('../../public/images/fondo.png')
    background-size: cover
    background-attachment: fixed
    background-repeat: no-repeat
    background-attachment: fixed
    
    