
.Container
    display: flex
    flex-direction: column
    gap: .5rem
    align-items: center
    
    
    

.form 
    font-family: 'Shippori Mincho', serif
    margin: .75rem
    font-size: inherit
    border-color:  #415274 
    border-width: .15rem
    border-top: 0
    border-left: 0
    border-right: 0
    background-color: transparent
    color: #415274
    width: 110%

.Button
    padding-top:3%
    padding-bottom:3%
    font-family: 'Shippori Mincho', serif
    margin: 1rem
    font-size: small
    border: solid
    color: #FB862C 
    background-color: transparent

.atras
    font-size: medium
    border: none
    color: #96948F
    background-color: transparent
    padding-bottom: 80%
    padding-top: 40%

    