.Container
    display: flex
    font-family: 'Shippori Mincho', serif
    flex-direction: column
    justify-content: center
    align-items: center
    gap: .5rem
    color: #415274
    border: none
    
    
   