

.Day
    display: flex
    text-align: center
    flex-direction: column
    width:100%
    

.element
    color: #415274
    padding-top:0%
    
.imgg
    border-top-left-radius: 50% 50%
    border-top-right-radius: 50% 50%
    border-bottom-right-radius: 50% 50%
    border-bottom-left-radius: 50% 50%
    width:80px
    height: 80px
    border: solid 1px #B6C3DD

.Header__Day
    color: #FB862C
    font-size: 25px
    margin-top: 5%
    margin-bottom: 10%
    

.Button__Day__Bread
    
    font-size: small
    color: #415274
    background-color: transparent
    flex-direction: column
    width:80%
    padding-left: 10%
    padding-bottom: 5%
    padding-top: 5%
    margin-bottom:0%
    content-type: center
    flex-direction: column
    
    font-size: small
    border: solid 1px
    background-color: transparent
    
    
.Button__Day__Flecha
    font-size: small
    border: none
    color: #96948F
    background-color: transparent
    padding-right:20%
    

.Button__Day__Flecha2
    font-size: small
    border: none
    color: #96948F
    background-color: transparent
    padding-left:20%

    

    

    

