.Feedback
    background-color: silver
    padding: 1rem
    position: absolute
    margin-top:10%
    margin-left:5%

.Feedback--success
    background-color: green
    color: white

.Feedback--warn
    background-color: gold
    color: black

.Feedback--error
    background-color: tomato
    color: white