.Home__header
    position: fixed
    top: 0
    background-color: #adebbe
    width: 100%

.Home__footer
    position: fixed
    bottom: 0
    background-color: grey
    width: 100%
    

.Home__list
    list-style-type: none
    padding: 0
    margin-bottom: 3rem

.Home__h1
    color:brown
    
.Home__Container
    width: 100%