.Home
    display:inline-block
    text-align: center
    flex-wrap: wrap


.button 
    color:orange 
    
.Home__footer
    position: fixed
    bottom: 0
    background-color: #415274
    width:100%
    
    

    

