.Home
    display:flex
    justify-content: flex-start
    overflow: hidden
    width:100%

    

.Home__h1
    color: #FB862C
    font-size: 25px
    margin-top: 10%
    margin-bottom: 10%
    padding-left: 5%
    
.prueba
    border: 0.005rem solid #415274
    margin: 1rem
    width:90%
    display: flex
    flex-direction: column
    justify-content: row
   
    
.Home__Day
    margin: .0.5rem
    font-size: medium
    color: #FB862C
    background-color: transparent
    border: none
    display: flex
    align-items:center
    width:25%
    height: 10%
    margin-bottom: 4%
    margin-top: 2%
  
    
    
    
    
  
.cajita
    display: flex
    position: relative
    align-items: center
    justify-context: center
    padding: 0.5rem
    width:90%

.img 
    max-width: 60px
    border-top-left-radius: 50% 50%
    border-top-right-radius: 50% 50%
    border-bottom-right-radius: 50% 50%
    border-bottom-left-radius: 50% 50%
    width:90%
    


.Home__h4
    display: flex
    margin: 0.5rem
    margin-top:0
    margin-bottom:0
    font-size: small
    color: #415274
    width:90%


    
.Home__footer
    position: fixed
    bottom: 0
    background-color: #415274
    width:100%
    heigth: 20%


.Home__button
    background-color: transparent
    color: ghostwhite
    border: none
    font-size: 18px
    padding: 3%
    margin-right:10%
    padding-left: 15%
    
    
.Home__button2
    background-color: transparent
    color: ghostwhite
    border: none
    font-size: 18px
    padding-right: 10%
    margin-left:15%
    

    
    

    

