.Login
    display: flex
    font-family: 'Shippori Mincho', serif
    flex-direction: column
    gap: .5rem
    align-items: center
    justify-content: center
    margin-top: 160%
    overflow: hidden
    

.Button__orange

    padding-top:3%
    padding-bottom:3%
    font-family: 'Shippori Mincho', serif
    margin: 1rem
    font-size: small
    border: solid
    color: #FB862C 
    background-color: transparent


.aRegister
    color: #96948F 
    font-size: 14px
    text-decoration: none
    padding: 60%

    

a:hover
    text-decoration: none
    hover: red


    

.Input_entrada
    font-family: 'Shippori Mincho', serif
    margin: .75rem
    font-size: inherit
    border-color:  #415274 
    border-width: .1rem
    border-top: 0
    border-left: 0
    border-right: 0
    background-color: transparent
    color: #415274
    


::placeholder
    transparent
    border: transparent