
.Cross
    background-color: transparent
    border: none
    font-size: 25px
    color: #415274
    margin-left:80%
    margin-top:5%

    

.text
    display:flex
    color: #415274
    margin-top:20%
    margin-bottom:3%
    font-size: 18px
    padding-right: 3rem

.ProductsType
    color: #FB862C
   
    

.jelou
    list-style-type: none
    margin-left: 1.3rem


.imggg
    width: 160px
    height:160px
    

.Products
    display: flex
    flex-direction: row
   
    
.Quantity
    padding-top:15%
    padding-left:5%
    padding-right:7%
    background-color: transparent

.ButtonPan
    background-color: #F0A180
    padding-left: 0.5rem
    padding-right: 0.5rem
    border: none
    font-size: 20px


