
.Cross
    background-color: transparent
    border: none
    font-size: 25px
    color: #415274
    margin-left:80%
    margin-top:5%

    

.text
    display:flex
    color: #415274
    margin-top:20%
    margin-bottom:3%
    padding-right:7%
    font-size: 18px

.ProductsType
    color: #FB862C
    font-size: 40px
    heigth:120%
    
    
.jelou
    list-style-type: none


img 
    max-width: 200px
    border-top-left-radius: 50% 50%
    border-top-right-radius: 50% 50%
    border-bottom-right-radius: 50% 50%
    border-bottom-left-radius: 50% 50%
    
    
.Products
    display: flex
    flex-direction: row
   
    
.Quantity
    padding-top:15%
    padding-left:5%
    padding-right:7%
    background-color: transparent

.ButtonPan
    background-color: #F0A180
    padding-left: 0.5rem
    padding-right: 0.5rem
    border: none
    font-size: 20px


