.Profile
    display: flex
    font-family: 'Shippori Mincho', serif
    flex-direction: column
    gap: .5rem
    justify-content: center
    align-items: center
    overflow: hidden

.Profile__h1
    color: #FB862C
    font-size: 25px
    margin-top: 40%
    width: 100%
    margin-bottom:15%
    padding-left: 18%
    

.Button__profile
    margin-top: .75rem
    margin-bottom: .5rem
    font-size: 16px
    border: none
    background-color: transparent
    color: #415274
    width: 100%

.Button__profile_delete
    color: red
    margin-top: .75rem
    font-size: 16px
    border: none
    background-color: transparent
    width: 100%

    

::placeholder
    transparent
    border: transparent