.Week__Day
    background-color: white
  
    text-align: center
    vertical-align: middle
    flex-direction: column
    font-size: medium
    
    
    
    
    justify-content: space-between
    
    border-color: #bea28c
    border-bottom: groove
    padding-left: 40%
    width: 70%
    
    border-radius: 10%
    border-left: none
    border-top: none
    border-right: none