@import url(https://fonts.googleapis.com/css?family=Permanent+Marker)

.EventHome__form
    border-radius: 5px
    display: flex
    width: 85vw
    height: 50vw
    background: #f6fff6
    padding: 20px
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px
    display: flex
    flex-direction: column

.EventHome__name
    font-size: 10px

.EventHome__title
    font-family: Courier New, Courier, monospace
    font-size: 18px
    font-weight: bold
    color: black

.EventHome__description
    font-family: Courier New, Courier, monospace
    font-size: 15px
    color: black
