<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Primo App</title>
    <link rel="stylesheet" href="style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&display=swap" rel="stylesheet">
</head>
<body>
    <section class="off landing-view container">
        <figure class="container__logo logo">
            <img src="media/logo.svg" alt="primo logo">
        </figure>    
        <div class="container__text" id="welcome">
            <h1>Welcome to Primo!</h1>
            <p>We don't already know what this app will be used for</p>
        </div>
        <div class="container__buttons buttons">
            <button class="button-sign-up-landing-view container__buttons__button button">Sign up</button>
            <button class="botton-log-in-landing-view container__buttons__button button button_light" id="Log-in-button">Log in</button>
        </div>
    </section>

    <section class="off sign-up-view container container_sign-up">
        <form class="container__form form">   
            <div class="container__form__inputs">
                <fieldset class="container__form__fieldset fieldset">
                    <label class="label" for="email"><h4>What's your e-mail?</h4></label>
                    <input type="text" id="email" name="email" placeholder="primo.neoland@gmail.com" required>
                </fieldset>
                <fieldset class="container__form__fieldset fieldset">
                    <label class="label" for="name-selected"><h4>How should we call you?</h4></label>
                    <input type="text" id="name-selected" name="name-selected" placeholder="Jane Appleseed" required></input>
                </fieldset>
                <fieldset class="container__form__fieldset fieldset">
                    <label class="label" for="password"><h4>Set a password</h4></label>
                    <input type="password" id="password" name="password" placeholder="********" required></input>
                </fieldset>
            </div>
            <div class="container__form__buttons">
                <div class="fieldset">
                    <button class="submit" type="submit">CONTINUE</button>
                </div>
                <div class="fieldset_submit fieldset">
                    <a href="#" class="button-already-registered submit submit_change">I'm already registered</a>
                </div>
            </div>
        </form>
        <footer class="footer-sign-up-view footer-terms">
            <p>By signing up, you accept our Terms and Privacy Policy. <br>
            You can delete your account in your settings
            </p>
        </footer>
    </section>


    <section class="log-in-view container">
        <figure class="container__logo">
            <img class="logo_login" src="media/logo.svg" alt="primo logo">
        </figure>
        <div>
            <h2>Log in</h2>
        </div>
        <form class="container__form form form_login"> 
            <div class="container__form__inputs">
                <fieldset class="container__form__fieldset fieldset">
                    <label class="label" for="e-mail"><h4>Enter your e-mail</h4></label>
                    <input type="text" id="e-mail" name="e-mail" placeholder="primo.neoland@gmail.com" required>
                </fieldset>
                <fieldset class="container__form__fieldset fieldset">
                    <label class="label" for="password"><h4>Password</h4></label>
                    <input type="password" name="password" placeholder="********" required></input>
                </fieldset>
            </div>  
            <div class="container__form__buttons">
                <div class="container__form__fieldset fieldset_submit">
                <button class="submit" type="submit">CONTINUE</button>
                </div>
                <div class="container__form__fieldset fieldset_submit">
                    <a href="#" class="button-not-registered submit submit_change">Register</a>
                </div>
            </div>
        </form>
        <footer class="footer-log-in-view footer-terms">
            <p>By logging in, you accept our Terms and Privacy Policy. <br>
            You can delete your account in your settings
            </p>
        </footer>
    </section>

    <script src="main.js"></script>
</body>
</html>