.Home__header
    position: fixed
    top: 0
    background: linear-gradient(to right, #FEE2C5, #ccc7c1, #ccc7c1,#FEE2C5)
    width: 100%

.Home__footer
    position: fixed
    bottom: 0
    background-color: ghostwhite
    width: 100%

.Home__list
    list-style-type: none
    padding: 0
    margin-bottom: 3rem