<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>first app</title>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;700&family=Palette+Mosaic&family=Parisienne&display=swap" rel="stylesheet">
    <script src="main.js" defer></script>
</head>
<body>
    <main class="page off">
        <figure>
            <img class="logo" src="img/logo.svg" alt="star" >
        </figure>
        <h1>Bienvenido</h1>
        <button class="button_login" type="button" >Log in</button>
        <button class="button_register" type="button" >Register</button>
    </main>
<!--TODO hacer BEN-->
    <main class="register off" >
        <form class="form" action="#">
            <fieldset class="box-form">
                <input type="text" name="username" id="username">
                <input type="email" name="email" id="email">
                <input type="password" name="password id="password>
            </fieldset>
            <button type="submit">REGISTRAME</button>
            <a href="#" class="button_iniciar">INICIAR SESIÓN</a>
        </form>
       <figure class="star">
           <img src="img/Star.svg" alt="">
        </figure>
    </main>

    <main class="login off">
        <figure class="star">
            <img  src="img/Star.svg" alt="">
        </figure>
        <form class="form" action="">
            <fieldset class="box-form">
                <input type="email" name="email" id="">
                <input type="password" name="password" id="">
                <input class="button_entrar" type="submit" value="ENTRAR">
                <a href="#" class="registrate">REGISTRATE</a>
            </fieldset>
        </form>
        <figure class="headset">
            <img class="last-img" src="img/headset.svg" alt="">
        </figure>
    </main>

    <main class="home off">
        <section class="gallery">
            <div class="gallery__item">1</div>
            <div class="gallery__item">2</div>
            <div class="gallery__item">3</div>
            <div class="gallery__item">4</div>
            <div class="gallery__item">5</div>
            <div class="gallery__item">6</div>
            <div class="gallery__item">7</div>
            <div class="gallery__item">8</div>
            <div class="gallery__item">9</div>
        </section>
        
    </main>
    
</body>
</html>