<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;700&family=Palette+Mosaic&family=Parisienne&display=swap" rel="stylesheet">
    <title>first app</title>
</head>
<body>
    <div class="page" style="-display:none;">
        <figure>
            <img class="star" src="img/logo.svg" alt="star" >
        </figure>
       
        <h1>Bienvenido</h1>
        <button class="button" type="button" >Log in</button>
        <button class="button" type="button" >Register</button>
    </div>
    <div class="page2">
        <form action="#">
            <fieldset>
                <input type="text" name="username" id="username">
                <input type="email" name="email" id="email">
                <input type="password" name="password id="password>
            </fieldset>
            <button type="submit">REGISTRAME</button>
            <a href="#">INICIAR SESIÓN</a>
        </form>
    </div>
</body>
</html>