@import url('https://fonts.googleapis.com/css2?family=Joan&display=swap')

*
    font-family: 'Joan', serif
    
    
html, body, #root
    height: 100%
    
    
body
    margin: 0
   

h1
    font-size: 40px
    font-family: 'Joan', cursive
    display: flex
    color: black
    
    
h2,h3
    font-size: 24px
    font-family: 'Poppins'
    display: flex
    color: black

.Button__Day__Flecha
    background-color: beige
    display: flex-row

    
input, Button 
    margin: .5rem
    font-size: inherit
    border: groove
    background-color: white
    

    

a
    color: black
    text-decoration: none
    


    