@import url('https://fonts.googleapis.com/css2?family=Joan&family=Shippori+Mincho&display=swap')
@import url('https://fonts.googleapis.com/css2?family=Orelega+One&family=Shippori+Mincho&display=swap')

*
    font-family: 'Shippori Mincho', serif
    
    
html, body, #root
    height: 100%



body
    margin: 0
   


h2,h3
    font-size: 24px
    font-family: 'Shippori Mincho', serif
    display: flex
    color: #415274

.Button__orange

    padding-top:3%
    padding-bottom:3%
    font-family: 'Shippori Mincho', serif
    margin: 1rem
    font-size: small
    border: solid
    color: #FB862C 
    background-color: transparent

a
    color: #96948F 
    font-size: 14px
    text-decoration: none

    

a:hover
    text-decoration: none
    hover: red


    

.Input
    font-family: 'Shippori Mincho', serif
    margin: .75rem
    font-size: inherit
    border-color:  #415274 
    border-width: .1rem
    border-top: 0
    border-left: 0
    border-right: 0
    background-color: transparent
    color: #415274


::placeholder
    transparent
    border: transparent