@use 'base'
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap')


*
    font-family: Poppins
    
    
html, body, #root
    height: 100%
    
    
body
    margin: 0
   


input, button
    margin: .5rem
    font-size: inherit
    


a
    color: black
    text-decoration: none
    


    