.Button
    margin: .5rem
    font-size: 1.3rem

.Button
    button: 1px solid black
    border: 1.5px solid #3A5673
    border-radius: .25rem
    background-color: #3A5673
    cursor: pointer
    color: #3A5673
    width: 230px


.Button--light
    border-color: white
    color: #F8E5E6

.Button--no-border
    border: none

.Link
    font-size: 1.3rem
    background-color: transparent
    border: 1.5px solid
    text-align: center


.Plus 
    border-radius: 50%
    height: 50px
    width: 50px
    font-size: 25px
    border: none
    background-color: #A0D995
   
