@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body {
    padding: 0;
    margin: 0;
    font-family: "Open Sans", sans-serif;
    height: 100%;
    min-height: 100vh;
  }

  * {
    box-sizing: border-box;
  }
}

@layer components {
  .section {
    @apply flex flex-col gap-5 h-screen w-screen justify-center items-center
  }
  .home-list {
    @apply relative bg-white inline-flex items-center justify-between w-full px-4 py-3 text-xs font-medium border-b-2 border-gray-200 hover:bg-gray-100 hover:text-gray-800 focus:z-10 focus:ring-2 focus:ring-blue-700 focus:text-blue-700;
  }
  .form-input {
    @apply placeholder-primary appearance-none border-0 rounded-lg w-full mb-2 py-4 px-3 text-gray-700 leading-tight focus:outline-none
  }
  .primary-button {
    @apply appearance-none border-0 rounded-lg w-full py-4 px-3 text-white font-semibold bg-primary leading-tight
  }

  .feedback {
    @apply bg-yellow-50 p-4 absolute opacity-90 rounded-lg
  }
}

@layer utilities {
  .bg-gradient-primary {
    background: linear-gradient(
      0deg,
      rgba(74, 178, 201, 0.9) 0%,
      rgba(194, 228, 236, 0.5) 80%
    );
  }
  .t-logo {
    @apply font-semibold text-primary text-center;
  }
  .pre-anchor {
    @apply text-white block text-center;
  }
}
