@use 'base'
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap')
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap')

*
    font-family: Poppins
    
    
html, body, #root
    height: 100%
    
    
body
    margin: 0
   

h1
    font-size: 40px
    font-family: 'Fredoka One', cursive
    display: flex
    color: ghostwhite
    
   

    
h2,h3
    font-size: 24px
    font-family: 'Poppins'
    display: flex
    color: ghostwhite
    
    
    
input, button
    margin: .5rem
    font-size: inherit
    


a
    color: ghostwhite
    text-decoration: none
    


    