@use '../config'

.container
    display: flex
    gap: .5rem
    max-width: 350px
    margin: 0 auto

    &_column
        flex-direction: column

    &_spread
        justify-content: space-between

    &_height_100
        height: 100%

    &_center
        justify-content: center
        align-items: center