.Register {
    background-color: yellowgreen;
}

.Register__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

input {
    margin-bottom: .25rem;
}