<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Demo App</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div class="off landing container container_height_100 container_center container_column">
        <button class="login-button button">Sign In</button>
        <button class="button button_light">Sign Up</button>
    </div>

    <div class="off login container container_height_100 container_column container_center">
        <form class="container container_column">
            <input class="input" type="text" name="username" placeholder="username">
            <input class="input" type="password" name="password" placeholder="password">
            <div class="container container_spread">
                <button class="button button_light">Sign Up</button>
                <button class="button">Sign In</button>
            </div>
        </form>
    </div>

    <div class="off register container container_height_100 container_column container_center">
        <form class="container container_column">
            <input class="input" type="text" name="name" placeholder="name">
            <input class="input" type="text" name="username" placeholder="username">
            <input class="input" type="password" name="password" placeholder="password">
            <div class="container container_spread">
                <button class="button button_light">Sign In</button>
                <button class="button">Sign Up</button>
            </div>
        </form>
    </div>

    <script src="main.js"></script>
</body>

</html>