<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Demo app</title>
    <link rel="stylesheet" href="style.css">
</head>
<body style="border: 5px solid green">
    <div class="page" style="display: none;">
        <button class="button">Sign In</button>
        <button class="button button_light">Sign Up</button>
    </div>

    <div class="page">
        <form class="page">
            <input class="input" type="text" name="username" placeholder="username">
            <input class="input" type="password" name="password" placeholder="password">
            
        </form>
    </div>
</body>
</html>