
*
  font-family: 'Poppins', sans-serif
  padding: 0
  margin: 0

html
  margin: 0
  height: 100%
  background-color: #ffbcd1


body
  margin: 0
  height: 100%
  background-color: #ffbcd1
  box-sizing: border-box

.off
    display: none

.button
  width: 100%
  border-radius: .5rem
  border-width: 0
  padding: .75rem
  background-color: lightgray

.button_light
  background-color: white

.button, .input
  border-radius: .5rem
  border-width: 0
  padding: .75rem

.buton-login
  border-radius: .5rem
  width: 100%
  padding: .75rem
  justify-content: center
  margin: 0
  border-width: 0

  &:hover
    background-color: #A267AC
    color: white
    cursor: pointer
    transition: .1s

.back
  color: #46244C

.login-page
  display: flex
  flex-direction: column
  height: 100%
  justify-content: center
  align-items: center
  gap: 1rem
  width: 95%
  margin: 0 auto

.btn
  display: flex
  margin: 5px

.button-log
  margin: 5px
  width: 100
  height: 50px
  border-radius: .5rem
  border-width: 0

.icon
  font-size: 30px
  display: flex

.button-log:hover
  color: white
  background: #A267AC

.bienvenido
  font-size: 40px
  margin-bottom: 2em

fieldset
  padding: 0
  border: 0

.input
  width: 100%
  box-sizing: border-box
  flex-direction: column
  width: 100%
  margin-bottom: .75rem
  resize: vertical

input:last-child
  margin-bottom: 0

.page
  display: flex
  flex-direction: column
  height: 100%
  justify-content: center
  align-items: center
  gap: 1rem
  width: 100%
  margin: 0 auto
  max-width: fit-content
  padding: 0 .75rem