@use '../config'

.container
    display: flex
    gap: .5rem
    background-color: config.$color

.container_column
    flex-direction: column

.container_spread
    justify-content: space-between

.container_height_100
    height: 100%

.container_center
    justify-content: center
    align-items: center