@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&family=Open+Sans:ital,wght@0,400;0,600;0,700;1,400&display=swap');
*,::after,::before{box-sizing:border-box}ol[class],ul[class]{padding:0;list-style:none}blockquote,body,dd,dl,figcaption,figure,h1,h2,h3,h4,li,ol[class],p,ul[class]{margin:0}body{min-height:100vh;scroll-behavior:smooth;text-rendering:optimizeSpeed;line-height:1.5}a:not([class]){text-decoration-skip-ink:auto}img{max-width:100%;display:block}article>*+*{margin-top:1em}button,input,select,textarea{font:inherit}@media (prefers-reduced-motion:reduce){*{animation-duration:0s!important;animation-iteration-count:1!important;transition-duration:0s!important;scroll-behavior:auto!important}}

html, body {
    margin: 0;
    height: 100%;
}

body {
    box-sizing: border-box;
    background: linear-gradient(180deg, #4AB2C9 42.19%, rgba(0, 0, 0, 0.78) 100%);
}

.page {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    gap: 1rem;
    width: 95%;
    max-width: 500px;
    margin: 0 auto;
    padding: 0 0.75rem;
    font-family: 'Montserrat', sans-serif;
}
fieldset {
    padding: 0;
    border: 0;
}

.title {
    margin-bottom: 10em;
}

.title h1, .title h2 {
    color: white;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}

.title h1 {
    font-size: 48px;
}
.title h2 {
    font-size: 28px;

}

.button {
    background-color: #4AB2C9;
    cursor: pointer;
    box-sizing: content-box;
    padding: 1.175rem 0 !important;
    font-size: 1rem;
    font-weight: 600;
}
.input {
    box-sizing: border-box;
    background-color: rgba(255, 255, 255, .28);
    margin: 0;
    margin-bottom: .75rem;
}
.input:last-child {
    margin-bottom: 0;
}

.button_light {
    background-color: white;
}

.button, .input {
   border-radius: .5rem;
   border-width: 1px;
   padding: 1.25rem;
   width: 100%;
   border: 0 none;
   color: white;
}
.input::placeholder {
    color: white;
}
.input:focus{
    outline: 0 none;
}

a.button {
    text-decoration: none;
    text-align: center;
}

a.back {
    text-decoration: none;
    color: white;
    text-align: center;
}