.Button
    margin: .5rem
    font-size: inherit

.Button
    button: 1px solid black
    border-radius: .25rem
    background-color: transparent
    cursor: pointer
    color: black

.Button>a 
    color:#4CACBC 

.Button--light
    border-color: white
    color: #4CACBC

.Button--no-border
    border: none