.Button
    margin: .5rem
    font-size: inherit

.Button
    button: 1px solid black
    border-radius: .25rem
    background-color: transparent
    cursor: pointer
    color: black

.Button>a 
    color:#4CACBC 

.Button--light
    border-color: white
    color: #4CACBC

.Button--no-border
    border: none

.Plus 
    border-radius: 50%
    height: 50px
    width: 50px
    font-size: 25px
    border: none
    background-color: #A0D995
   
