@import url('https://fonts.googleapis.com/css2?family=Cabin+Sketch:wght@400;700&display=swap')

html, body   
    width: 100%

body
    margin: 0
    background: radial-gradient(circle, rgba(3,83,151,1) 0%, rgba(148,187,233,1) 100%)

h1,h2,h3
    font-size: inherit

a
    color: ghostwhite
    text-decoration: none
