*
    color: white
    text-align: center

body
    display: flex
    justify-content: center
    
    background-color:white
    margin: 0
    padding: 0
    height: 100vh
    height: 100vh
    align-items: center

.App
    display: grid
    grid-template-columns: repeat(4, 4rem)
    grid-template-rows: repeat(6, 4rem)
    gap: .2rem
    width: 265px
    height: 400px
    border-radius: .5rem
    padding: .5rem
    background-color: rgb(95, 54, 54)
    box-shadow: 0px 1px 7px -1px rgba(176, 176, 176, 1)

.App__display
    // display: grid
    // justify-content: center
    // align-items: center
    grid-column: 1/-1
    background-color: #444
    text-align: center
    width: 265px

.App__zero
    grid-column: span 2

.Button
    display: grid
    justify-content: center
    align-items: center
    background-color: dimgray
    
.Button:hover
    cursor: pointer

.Button--gray
    background-color: #444

.Button--orange
    background-color: orange