<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Demo Register</title>
	<link rel="stylesheet" href="style_2.css">
	<!-- Compressed CSS -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/foundation-sites@6.7.4/dist/css/foundation.min.css" crossorigin="anonymous">

<!-- Compressed JavaScript -->
<script src="https://cdn.jsdelivr.net/npm/foundation-sites@6.7.4/dist/js/foundation.min.js" crossorigin="anonymous"></script>
	<script src="main.js" defer></script>
</head>
<body>
	<hr>
	<main class="off landing">
		<h1>landing</h1>
		<a href="#" class="login-anchor button">Login</a>
		<a href="#" class="register-anchor button">Register</a>
	</main>
	<hr>
	<main class="off login">
		<h1>login</h1>
		<form>
			<input class="input" type="text" name="username" placeholder="username" required>
			<input class="input" type="password" name="password" placeholder="password" required>
			<div>
				<button class="button">Login</button>
				<br><span>o</span>
				<a href="#" class="register-anchor">Register</a>
			</div>
		</form>
	</main>
	<hr>
	<main class="off register">
		<h1>register</h1>
	<form>
		<input class="input" type="text" name="name" placeholder="name" required>
		<input class="input" type="text" name="username" placeholder="username" required>
		<input class="input" type="password" name="password" placeholder="password" required>
		<div>
			<button class="button">Register</button>
			<!-- <a href="#" class="button">Register</a> -->
				<br><span>o</span>
			<a href="#" class="login-anchor">Login</a>
		</div>
	</form>
	</main>
	<hr>
	<main class="off home">
		<h1>WELCOME HOME</h1>
	</main>
	<hr>
</body>
</html>