<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Battershaft</title>
    <link rel="stylesheet" href="style.css">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;400;900&display=swap');
        </style>
        <!-- font-family: 'Inter', sans-serif; -->
</head>
<body>

    <div class="page">
    <div class="brand-1">
        <div class="brand-banner1">
            <figure><img src="images/brand-welcome.svg" alt="" srcset=""></figure>
            <figure><img src="images/imago-battershaft.svg" alt="" srcset=""></figure>
        </div>
    </div>
    <div class="content-centered">
        <div class="text-1">Sign up</div>
            <form>
                <fieldset class="bloque-input-data">
                    <span class="normal-text">Name:</span><br>
                    <input type="text">
                </fieldset>
                <fieldset class="bloque-input-data">
                    <span class="normal-text">Email:</span><br>
                    <input type="email">
                </fieldset>
                <fieldset class="bloque-input-data">
                    <span class="normal-text">Phone:</span><br>
                    <input type="tel">
                </fieldset>
            </form>
        </div>
        <div class="brand-1">
            <span class="legal-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed tristique erat laoreet</span>
            <button type="submit">Continue</button>
            <div class="sub-bloque1"><span class="legal-text2">Joined us before?</span><span class="legal-text2"><a href="#" target="_blank" rel="noopener noreferrer">Login</a></span></div>
            
        </div>
    </div>
</body>
</html>