.Home
    height: 100%
    width: 100%

.Home__header
    position: fixed
    top: 0
    width: 100%
    justify-content: center
    background-color: #85586F
    position: absolute
    top: 0

.Home__body
    overflow: auto
    width: 100%
    padding-top: 5rem

.Home__footer
    position: fixed
    bottom: 0
    width: 100%
    font-size: 35px

.buttonNewSticker
    color: #090909
    padding: 0.7em 1.7em
    font-size: 18px
    border-radius: 0.5em
    background: #e8e8e8
    border: 1px solid #e8e8e8
    box-shadow: 6px 6px 12px #c5c5c5

.Home__profile
  background-image: linear-gradient(#AC7D88, #85586F)
  border-radius: 4px
  box-sizing: border-box
  color: #FFFFFF
  cursor: pointer
  direction: ltr
  font-family: "SF Pro Text","SF Pro Icons","AOS Icons","Helvetica Neue",Helvetica,Arial,sans-serif
  font-size: 25px
  font-weight: 400
  letter-spacing: -.022em
  line-height: 1.47059
  min-width: 30px
  overflow: visible
  padding: 4px 15px
  text-align: center
  -webkit-user-select: none
  touch-action: manipulation

.Home__logout
  background-image: linear-gradient(#AC7D88, #85586F)
  border-radius: 4px
  box-sizing: border-box
  color: #FFFFFF
  cursor: pointer
  font-family: "SF Pro Text","SF Pro Icons","AOS Icons","Helvetica Neue",Helvetica,Arial,sans-serif
  font-size: 25px
  letter-spacing: -.022em
  line-height: 1.47059
  padding: 4px 15px
  text-align: center


.Home__home
  background-color: transparent
  border: 1px solid white
  box-sizing: border-box
  color: white
  font-family: "Avenir Next LT W01 Bold",sans-serif
  font-size: 25px
  font-weight: 700
  line-height: 24px
  padding: 16px 23px
  position: relative
  text-decoration: none
  user-select: none
  -webkit-user-select: none
  touch-action: manipulation
