@import url(https://fonts.googleapis.com/css?family=Permanent+Marker)

.Sticker
    background-color: yellow
    padding: 1rem
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center
    width: 40vw
    height: 40vw
    background: #F9EBC8
    margin: 30px auto
    padding: 20px

.Sticker__form
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center
    width: 90%

.Sticker__id
    font-size: 10px

.Sticker__text
    background: transparent
    border: none
    resize: none
    width: 100%
    font-family: 'Permanent Marker', cursive
    line-height: 1.7em
    font-size: 18px
    color: #130d6b

.deleteButton 
  background-color: #DAE5D0
  border-radius: 8px
  border-style: none
  box-sizing: border-box
  color: black
  cursor: pointer
  font-size: 20px
  font-weight: 500
  height: 40px
  line-height: 20px
  list-style: none
  margin: 0
  outline: none
  padding: 10px 16px
  text-align: center
  text-decoration: none
  transition: color 100ms
  vertical-align: baseline
  user-select: none

.saveButton
  appearance: none
  background-color: #A0BCC2
  border: 1px solid rgba(27, 31, 35, .15)
  border-radius: 6px
  box-shadow: rgba(27, 31, 35, .1) 0 1px 0
  box-sizing: border-box
  color: #F9F3EE
  cursor: pointer
  font-size: 14px
  font-weight: 600
  line-height: 20px
  padding: 6px 16px
  text-align: center
  text-decoration: none
  user-select: none
  touch-action: manipulation
  vertical-align: middle


