.Container
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    gap: 1rem

.Padding
    padding-top: 20rem


.Confirm__message
    margin: 0
    text-align: center
    max-width: 90%