.Profile
    height: 100%
    width: 100%
    display: grid
    grid-template-columns: repeat(1)
    grid-template-rows: repeat(2)


.Profile__buttons
    display: flex
    justify-content: center
    padding-top: 10rem

.Profile__views
    display: flex
    justify-content: center
    padding-top: 2rem