@use 'base'
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap')

    
*
    font-family: Poppins
    font-size: 17px

html, body, #root
    margin: 0
    height: 100%

body
    display: flex
    flex-direction: column

h1,h2,h3
    font-size: inherit

input, button, h2
    margin: .4rem
    font-size: inherit
    _font-size: base.$font-size
