.List__stickers
    list-style-type: none
    padding: 0
    display: flex
    flex-direction: column
    margin-top: 3rem
    margin-bottom: 3rem
    gap: 1rem
    
.Li__sticker 
    background-color: #E9EFC0
    padding: 1rem
    border-radius: 0.25rem

.Li__note 
    background-color: #E9EFC0
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center
    border-radius: 0.25rem
    padding: 8px 8px
    min-height: 150px
    width: 160px
    text-align: center


.Sticker__form, .Sticker
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center