body {
    overflow: hidden;
}
.header{
    background-color: #7a7b7c;
    height: 75px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 0;
}
.header__content {
    background-color: red;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.header__content__links {
    width: 30%;
    margin: 0 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    /* background-color: yellow; */
}
.header__Logo {
    color: #fff;
    font-size: 35px;
    padding: 0 80px;
    font-weight: bold;
}
.header__content__links__item{
    display: flex;
    list-style: none;
    /* border-radius: 3px; */
    /* margin: 0 5px; */
} 
.header__content__links__item i{
    cursor: pointer;
    text-decoration: none;
    color: #dbdbe2;
}
.header__content__btns{
    display: flex;
    justify-content: flex-end;
    /* width: 200px; */
}
.header__content__btns__btn{
    cursor: pointer;
    height: 45px;
    margin: 0 0 0 5px;
    padding: 10px;
    border-radius: 4px;
    background-color: #00e59b;
    border-style: none;
    text-transform: uppercase;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: bolder;
}
@media screen and (max-width: 952px) {
    .header__Logo {
        font-size: 25px;
        padding-left: 10px;
    }
    .header__content__links li i{
        font-size: 16px;
    }
    .header__content__btns__btn{
        cursor: pointer;
        height: 40px;
        padding: 8px;
    }
    .header__content {
        width: 70%;
        margin-left: auto;
        margin-right: auto;
    }
    .header__content__links {
        width: 40%;
        margin: 0 10px;
    }
    .header__content__btns__btn{
        height: 45px;
        margin-left: auto;
        width: 80px;
        border-radius: 4px;
        background-color: #00e59b;
        border-style: none;
        text-transform: uppercase;
        color: #FFFFFF;
    }
    .header__content__btns{
        margin: 0 80px 0 0;
    }

}
/*
.header__content__btnResposive{
    margin-right: 30px;
    font-size: 25px;
    color: #fff;
    cursor: pointer;
    display: none;
}
ul.show{
    top: 65px;
} */
/*
@media screen and (max-width: 858px) {
    .header{
        height: 65px;
    }
    .header__content__btnResposive{
        display: inline-flex;
    }
    .header__content__Items {
        position: fixed;
        width: 100vw;
        height: calc(100% - 65px);
        background: #f33b3b;
        background: #414141;
        top: -100vh;
        text-align: center;
        transition: all .4s;
        flex-direction: column;
    } */
    /* .header__content__Items li{
        display: flex;
        justify-content: flex-end;
        margin: -30px 80px 30px ;
        margin: 30px 0 0 0;
        line-height: 30px;
    }
    .header__content__Items li:hover{
        background: none;
    }
    .header__content__Items li i{
        font-size: 20px;
        color: #fff;
        font-weight: bold;
    }
    .header__Logo {
        font-size: 25px;
        padding-left: 35px;
    }
} */
/* @media screen and (max-width: 858px) and (orientation: landscape) {
    .header__content__Items li{
        margin: 5px 0 0 0;
    }
    .header__content__Items{
        overflow: scroll;
        height: calc(100% - 65px);
    }
} */

.header__content__links__item__heartNone {
    display: none;
}
.header__content__links__item__downloadNone{
    display: none;
}
.header__content__links__item__codeNone{
    display: none;
}
.header__content__links__item__addNone{
    display: none;
}
.header__content__links__item__arrowNone{
    display: none
}
.header__content__links__item__tikcodeNone{
    display: none;
}
