
.header{
    background-color: #7a7b7c;
    width: calc(100% - 3rem);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0rem 1.5rem;
    /* position: fixed; */
}

.header__Logo {
    font-weight: bold;
    font-size: 34px;
    line-height: 50px;
    text-align: center;
    text-decoration: none;
    color: black;
}

.header__content {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    /* border-bottom: 1px solid rgba(255, 255, 255, 0.2); */
}

.header__content__links {
    display: flex;
    padding: 0;
    margin: 0;
    list-style-type: none;
    display: flex;
    align-items: center;
}

.header__content__links:hover .header__content__links__item:not(:hover) i {
    opacity: 0.2;
    /* color: #ffffff; */
  }

.header__content__links__item{
    position: relative;
    padding: 20px 25px 20px 25px;
    cursor: pointer;
} 
@media screen and ( max-width: 850px ) {
    .header__content__links__item{
        padding: 20px 15px 20px 15px;
        cursor: pointer;
    } 
}
@media screen and ( max-width: 650px ) {
    .header__content__links__item{
        padding: 20px 10px 20px 10px;
        cursor: pointer;
    } 
    .header__Logo {
        font-weight: bold;
        font-size: 20px;
        margin: 0 0 0 -20px;
    }
    
}

.header__content__links__item::after {
    
    position: absolute;
    content: "";
    top: 100%;
    left: 0;
    width: 100%;
    height: 2px;
    background: #3498db;
    transform: scaleX(0);
    transition: 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
  }
.header__content__links li:hover::after, .header__content__links li.active::after {
    transform: scaleX(1);
  }
.header__content__links li i {
    position: relative;
    display: flex;
    color: black;
    font-family: Lato, sans-serif;
    text-decoration: none;
    transition: 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.header__content__links li i:hover {
    color: rgb(254, 254, 254);
}

.header__content__btns{
    display: flex;
    justify-content: flex-end;
}
@media only screen and (max-width: 650px) {
    .header__content__btns{
        display: none;
    }
}

.header__content__btns__btn{
    cursor: pointer;
    height: 45px;
    margin: 0 0 0 10px;
    padding: 10px;
    border-radius: 5px;
    background-color: #5ec881;
    /* background-color: #248c46; */
    border-style: none;
    text-transform: uppercase;
    color: black;
    font-size: 16px;
    /* font-weight: 500; */
} 
@media only screen and (max-width: 650px) {

    .header__content__btns__btn{
        cursor: pointer;
        margin: 0 0px 0 5px;
        padding: 5px;
        /* background-color: #248c46; */
        font-size: 16px;
        /* font-weight: 500; */
    } 
}

.header__content__select{
    display: none;
}

@media only screen and (max-width: 650px) {

    .header__content__select{
        display: block;
    }
}

.header__content__btns__btn:hover{
    background-color: #4cbe72;
    color: #eee;
} 



.header__content__links__item__heartNone {
    display: none !important;
}
.header__content__links__item__downloadNone{
    display: none;
}
.header__content__links__item__codeNone{
    display: none;
}
.header__content__links__item__addNone{
    display: none;
}
.header__content__links__item__arrowNone{
    display: none
}
.header__content__links__item__tikcodeNone{
    display: none;
}
