@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap')

$font-size: .75rem

h1,h2,h3
    font-size: inherit

body
    background-color: #fcfcfc
    margin: 0

a
    color: dimGrey
    font-family: Courier New, Courier, monospace
    text-decoration: none

h4
    margin-top: 17px
    color: #f19b19

.icons
    font-size: 30px
    color: #676666

.Description__pag
    margin: 0px auto
    width: 100%
    height: 28px
    text-align: center
    font-family: Poppins
    font-size: 20px
