.Home
    width: 100%
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    background-color: #FEFBE7


.Home__header
    position: fixed
    top: 0
    background-color: #DAE5D0
    width: 100%
    display: flex
    
    

.Home__list
    padding: 0
    

.Home__footer
    position: fixed
    bottom: 0
    background-color: #A0BCC2
    width: 100%
