.scroll-container 
  overflow: hidden
  width: 600px
  overflow-x: hidden
  

.cadjob
  display: flex
  flex-direction: column
  flex-wrap: nowrap
  margin-left: 5%
  margin-right: 5%
  max-width: 600px
  
  