<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>App - demo</title>
</head>
<body>

    <!-- LOGIN -->
    
    <form class="container page-login ">
        <div class="form form-login">

            <div class="page-login__error"></div>

            <i class="fa-solid fa-lock icon"></i>

            <input class="username" name="username" type="text" placeholder="Username">
            <input class="password" name="password" type="password" placeholder="Password">
    
            <div class="btns">
                <button type="submit" class="button" type="button">Login</button>
                <button class="button login-btn-register" type="button">Register</button>
            </div>
        </div>
    </form>

<!-- REGISTER -->

    <form class="container page-register off">
        <i class="fa-solid fa-lock icon"></i>

        <input type="text" placeholder="Username">
        <input type="password" placeholder="Password">
        <input type="password" placeholder="Confirm Password">
        
        <div class="btns">
            <button class="button register-btn-login" type="button">Login</button>
            <button class="button" type="button">Register</button>
        </div>
    </form>

    <!-- LANDING -->

    <div class="landing off">
        <div class="landing-img">
            <img src="./img/pexels-cottonbro-3585095.jpg" alt="">
        </div>

        <div class="btns">
            <button class="button login-btn" type="button">Login</button>
            <button class="button register-btn" type="button">Register</button>
        </div>
    </div>

    <!-- HOME PAGE -->

    <div class="home off">
        <h1>HOLA HOME PAGE</h1>
    </div>


    <script src="./main.js"></script>
</body>
</html>