<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>App - demo</title>
</head>
<body>

    <!-- LOGIN -->
    
    <div class="container off">
        <div class="form">
            <i class="fa-solid fa-lock icon"></i>

            <input type="text" placeholder="Username">
            <input type="password" placeholder="Password">
    
            <div class="btns">
                <button class="button" type="button">Login</button>
                <button class="button" type="button">Register</button>
            </div>
        </div>
    </div>

<!-- REGISTER -->

    <form class="container off">
        <i class="fa-solid fa-lock icon"></i>

        <input type="text" placeholder="Username">
        <input type="password" placeholder="Password">
        <input type="password" placeholder="Confirm Password">
        
        <div class="btns">
            <button class="button" type="button">Login</button>
            <button class="button" type="button">Register</button>
        </div>
    </form>

    <!-- LANDING -->

    <div class="landing">
        <div class="landing-img">
            <img src="./img/pexels-cottonbro-3585095.jpg" alt="">
        </div>

        <div class="btns">
            <button class="button" type="button">Login</button>
            <button class="button" type="button">Register</button>
        </div>
    </div>

</body>
</html>