@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');
html, body {
    margin: 0;
    height: 100%;
}
body {
    box-sizing: border-box;
}
.icon {
    font-size: 60px;
    color: #2b95d6;
    margin-bottom: 20px;
}
img{
    width: 100%;
    border-radius: 5px;
    box-shadow: 10px 12px 18px -2px rgba(0,0,0,0.51);
}
.landing-img {
    width: 350px;
}
.container, .landing{
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: #ffffff;
    width: 300px;
}

.form {
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.btns  {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 50px;
}
input {
    background: #f2f2f2;
    border: 0;
    border-radius: 5px;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 15px;
    width: 100%;
    font-family: 'Comfortaa', cursive;
}
input:focus, input:hover {
    background: #dbdbdb;
    border: 0;
}

button {
    font-family: 'Comfortaa', cursive;
    font-size: large;
    cursor: pointer;
    height: 50px;
    width: 100%;
    margin: 5px;
    color: #ffffff;
    border-radius: 5px;
    background: #3eaaed;
}
button:hover{
    background: #2b95d6;
}
button:nth-child(2n) {
    color: rgb(1, 1, 1);
    background-color: #E7E7FF;
}
button:nth-child(2n):hover {
    background-color: #d5d5e9;
}

button:nth-child(2n):hover {
    background-color: #d5d5e9;
}

.off{
    display: none;
}