<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Project</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Cabin" />
</head>
<body>

    <form class="off page landing">
        <h1 class="hello_sila">Hello, Sila</h1>
        <div class="buttons_group">
            <input class="input_up register-button" type="text" placeholder="Sign up">
            <input class="input_in login-button" type="text" placeholder="Sign in">
            <a href="" class="forgot">Forgot password?</a>
        </div>
    </form>

    <form class="off page register">
        <h1 class="input_signup">Sign up</h1>
        <div class="container_inputs">
            <input class="inputs_registers" type="text" placeholder="Username">
            <input class="inputs_registers" type="text" placeholder="Email">
            <input class="inputs_registers" type="text" placeholder="Passwaord">
            <input class="inputs_registers" type="text" placeholder="Repeat Password">
            <button class="register_button">Register</button>
        </div>
    </form>

    <form class="off page login">
        <h1 class="signin">Sign in</h1>
        <div class="inputs_login">
            <input class="input_log" type="text" name="Email" placeholder="Email">
            <input class="input_log" type="text" name="Password" placeholder="Password">
            <button class="login_button">Log in</button>
        </div>
    </form>

    <script src="main.js"></script>

</body>
</html>