<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Project</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Cabin" />
</head>

<body>


    <form class="page_sila" style="display: none;">

        <h1 class="hello_sila">Hello, Sila</h1>


        <div>
            <input class="input_up" type="text" placeholder="Sign up">
            <input class="input_in" type="text" placeholder="Sign in">
        </div>


        <a href="" class="forgot">Forgot password?</a>

    </form>




    <form class="page"  style="display: none;">

        <h1 class="input_signup">Sign up</h1>

        <div>
            <input class="input_user" type="text" placeholder="Username">
            <input class="input_email" type="text" placeholder="Email">
            <input class="input_password" type="text" placeholder="Passwaord">
            <input class="input_repeatpassword" type="text" placeholder="Repeat Password">
        </div>

        <button class="register">Register</button>

    </form>



    <form class="page_signin">

        <h1 class="signin">Sign in</h1>

        <div>
            <input class="input_e" type="text" name="Email" placeholder="Email">
            <input class="input_pass" type="text" name="Password" placeholder="Password">
        </div>



        <button class="login">Log in</button>





    </form>


</body>

</html>