<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Project App</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Cabin" />
</head>
<body>

    <div class="off landing-page">
        <main class="page">
            <h1 class="hello_sila">Hello, Sila</h1>
            <form class="buttons_group">
                <a href="#" class="input_up signup-button">Sign up</a>
                <a href="#" class="input_in signin-button">Sign in</a>
                <a href="#" class="forgot">Forgot password?</a>
            </form>
        </main>
    </div>

    <div class="off login-page">
        <form class=" page ">
            <h1 class="signin">Sign in</h1>
            <fieldset class="inputs_login">
                <input class="input_log" type="text" name="email" placeholder="Email">
                <input class="input_log" type="password" name="password" placeholder="Password">
                <button type="submit" class="login_button">Login</button>
            </fieldset>
        </form>
    </div>

    <div class="off register-page">
        <form class="page">
            <h1 class="input_signup">Sign up</h1>
            <fieldset class="container_inputs">
                <input class="inputs_registers" name="username" type="text" placeholder="Username" required>
                <input class="inputs_registers" name="email" type="text" placeholder="Email" required>
                <input class="inputs_registers" name="password" type="password" placeholder="Password" required>
                <input class="inputs_registers" name="r-password" type="password" placeholder="Repeat Password" required>
                <button type="submit" class="register_button">Register</button>
            </fieldset>
        </form>
    </div>


    <div class="off home-page">
        <main class="container container_height_100 container_column container_center">
            <h1>hola home</h1>
        </main>
    </div>

    <script src="main.js"></script>

</body>

</html>