<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Cabin+Sketch:wght@400;700&display=swap" rel="stylesheet">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="style.css" >
    <title>Landing</title>
</head>
<body>
    <!--login -->
    <section>
    <div class="logo" >
        <div class="marco">
        <button type="button" class="login"> <a href="#">Login</a></button>
        <button type="button" class="singin"><a href="#"> Sing In</a> </button>
        </div>
    </div>   
</section>
    <!--

        LANDIG
     -->

     <section>
        <figure class="log" >
            <img src="img/LOGO.svg" >
        </figure>
    </section>
<section>
        <!--REGISTER -->

        <figure class="log logoreg" >
            <img src="img/LOGO.svg" >
        </figure>
        <form class="env" > 
      
    <fieldset class="form">
        <input class="inp" type="text" placeholder="Nombre">
        <input class="inp" type="email" placeholder="Ingresa tu coreo">
        <input class="inp" type="password" placeholder="Contraseña">
        
    </fieldset>
            <button class="inp submit" type="submit">ENVIAR</button>
    </form>
</section>
</body>
</html>

