
// .Home__header
//     position: fixed
//     top: 0
//     background-color: ghostwhite
//     width: 100%

// .Home__body
//     overflow: auto
//     width: 100%
//     padding-top: 5rem

// .Home__footer
//     position: fixed
//     bottom: 0
//     background-color: ghostwhite
//     width: 100%

.Home 
    background-color: #DDE8FB
    display: flex
    justify-content: center
    flex-direction: column
    align-items: center
    height: 100%

.header
    position: fixed
    top: 0px
    display: flex
    justify-content: space-between
    width: 100%
    padding: .5rem 1rem
    align-items: center
    background-color: #4D4E84
.Home__header__stickers, .Home__header__profile, .Home__header__logout
    padding: 0.1rem 0.5rem
    height: 2rem
    font-size: .8rem
    border-radius: 0.3rem
    background-color: black
    color: white
    border: 1px black solid
    font-weight: bold
main
    width: 100%
.Home__footer
    position: fixed
    bottom: 0px
    background-color: #4D4E84
    width: 100%
    display: flex
    justify-content: center
    align-items: center
    height: 2.5rem

.Home__footer__add
    background-color: white
    font-weight: bold
    border: 1px solid #DDE8FB
    height: 2rem
    width: 2rem
    font-size: 1.5rem