@use 'base'
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap')
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,500,0,0')

    
*
    font-family: Open Sans
    font-size: 18px

html, body, #root
    margin: 0
    height: 100%

body
    display: flex
    flex-direction: column

input, button, h2
    margin: 0rem
    font-size: inherit
    _font-size: base.$font-size
