@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
h1, h2, h3 {
  font-size: inherit;
}

a {
  color: ghostwhite;
  text-decoration: none;
}

* {
  font-family: Poppins;
  box-sizing: border-box;
}

html, body, #root {
  height: 100%;
  min-height: 100vh;
}

body {
  margin: 0;
  padding: 0;
}

.App {
  height: 100%;
  background: rgb(74, 178, 201);
  background: linear-gradient(0deg, rgba(74, 178, 201, 0.5) 20%, rgba(121, 184, 229, 0.25) 80%);
  display: flex;
  align-items: center;
  justify-content: center;
}

.Signin {
  min-height: 100vh;
}
.Signin .Login,
.Signin .Register,
.Signin .Landing {
  transform: translate(0%, 50%);
}
.Signin .Login input, .Signin .Login button,
.Signin .Register input,
.Signin .Register button,
.Signin .Landing input,
.Signin .Landing button {
  margin: 0;
  padding: 10px;
}
.Signin .Login button,
.Signin .Register button,
.Signin .Landing button {
  background-color: #fff;
  color: dodgerblue;
  width: 100%;
}
.Signin .Login {
  margin-top: 50%;
}
.Signin .Register {
  margin-top: 38%;
}

.Landing h1 {
  font-size: 3rem;
}
.Landing h1 span {
  color: #4AB2C9;
}
.Landing h1, .Landing h3 {
  color: #6D6D77;
  margin: 0;
  line-height: 1;
}
.Landing img {
  padding: 2rem 0;
}

.Home {
  width: 100%;
  height: 100%;
  overflow: hidden;
  overflow-y: auto;
  background-color: dodgerblue;
}
.Home__header {
  position: fixed;
  top: 0;
  background-color: ghostwhite;
  width: 100%;
  min-height: 46px;
}
.Home__profile {
  margin-right: 0;
}
.Home__body {
  overflow-y: auto;
  width: 100%;
  height: 100%;
  margin: 56px 0;
}
.Home__body .Profile {
  gap: 0.5rem;
  margin-top: 1.2rem;
}
.Home__body .Profile--form > form {
  gap: 0.5rem;
  margin-top: 0.5rem;
}
.Home__footer {
  position: fixed;
  bottom: 0;
  background-color: ghostwhite;
  width: 100%;
}
.Home__footer button {
  border: 2px solid grey;
}

.Container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}
.Container--row {
  flex-direction: row;
  flex-wrap: wrap;
}
.Container--spread-sides {
  justify-content: space-between;
}

.Sticker {
  background-color: #ffc;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 40vw;
  min-width: 210px;
  height: 40vw;
  min-height: 210px;
  background: #ffa;
  padding: 20px;
  box-shadow: inset 0 -40px 40px rgba(0, 0, 0, 0.2), inset 0 25px 10px rgba(0, 0, 0, 0.2), 0 5px 6px 5px rgba(0, 0, 0, 0.2);
}
.Sticker__id {
  font-size: 0.6rem;
  color: #555;
}
.Sticker__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 90%;
}
.Sticker__text {
  border: 0 none;
  background-color: transparent;
  width: 100%;
  resize: none;
  font-family: "Permanent Marker", cursive;
  line-height: 1.7em;
  font-size: 16px;
  color: #130d6b;
}

.StickerList__list {
  list-style-type: none;
  padding: 0;
}
.StickerList--white {
  color: white;
}

.Button {
  margin: 0.5rem;
  font-size: inherit;
  border: 1px solid black;
  border-radius: 0.25rem;
  background-color: transparent;
  cursor: pointer;
  color: black;
}
.Button--light {
  border-color: white;
  color: white;
}
.Button--white {
  border-color: white;
  background-color: #FFF;
  color: #4AB2C9;
}
.Button--no-border {
  border: none;
}
.Button--close {
  margin-left: auto;
  margin-right: 0;
  color: red;
}
.Button--small {
  font-size: 10px;
  margin: 0;
}

.Input {
  margin: 0.5rem;
  font-size: inherit;
  text-indent: 0.5rem;
  border: 1px solid black;
  border-radius: 0.25rem;
  background-color: transparent;
  cursor: text;
  color: black;
}
.Input--light {
  border-color: white;
  color: white;
}
.Input--light:focus {
  outline: auto;
  outline-color: dodgerblue;
}
.Input--light::placeholder {
  color: #EEE;
}

.Feedback {
  background-color: silver;
  padding: 1rem;
  position: absolute;
  opacity: 0.9;
  border-radius: 8px;
}

.Feedback--success {
  background-color: green;
  color: white;
}

.Feedback--warn {
  background-color: gold;
  color: black;
}

.Feedback--error {
  background-color: tomato;
  color: white;
}

/*# sourceMappingURL=index.css.map */
