.Container
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    gap: 1.5rem

    &--row
        flex-direction: row
        flex-wrap: wrap

    &--spread-sides
        justify-content: space-between
