.Signin
    min-height: 100vh

    .Login,
    .Register
        transform: translate(0%, 50%)

        input, button
            margin: 0
            padding: 10px

        button
            background-color: #fff
            color: dodgerblue
            width: 100%

    .Login
        margin-top: 50%

    .Register
        margin-top: 38%
        
