@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap')

    
*
    font-family: Poppins
    color: white
    text-align: center
    font-size: 30px

body
    display: flex
    justify-content: center

.App
    display: grid
    grid-template-columns: repeat(4, 2rem)
    grid-template-rows: repeat(6, 1.5rem)
    background-color: #5A5A5A
    gap: .1rem
    width: 8.3rem
    height: 9.5rem
    border-radius: .5rem
    padding: .3rem

.App__display
    grid-column: 1/-1
    background-color: #444

.App__zero
    grid-column: span 2

.Button
    background-color: dimgray
    
.Button:hover
    cursor: pointer

.Button--gray
    background-color: #444

.Button--orange
    background-color: orange