<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Demo app</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <section class="page">
        <form class="page__form form">
            <fieldset class="form__inputs">
                <legend class="form__inputs-title">Introduce tus datos</legend>
                <input type="text" placeholder="usuario" class="form__inputs-input input">
                <input type="password" placeholder="contraseña" class="form__inputs-input input">
            </fieldset>
            <div class="form__buttons">
                <button type="submit" class="form__buttons-button button">
                    Iniciar sesión
                </button>
                <button type="reset" class="form__buttons-button button">
                    Reiniciar formulario
                </button>
                <a class="form__buttons-button button" href="">Registro</a>
            </div>
        </form>
    </section>
</body>
</html>