@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border: none;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    pad: 0;
    color: black;
    font-size: 11px;
    cursor: default;
    opacity: 1;
    outline: none;
}

.page {
    min-width: 100vw;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form {
    background-color: wheat;
    height: 260px;
    width: 320px;
    display: flex;
    flex-direction: column;
    padding: 16px 24px;
    border-radius: 7px;
}

/* .form > * {
    background-color: blue;
    height: 100%;
} */

.form-inputs {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.form-inputs-title {
    text-align: center;
    font-size: 16px;
    margin-bottom: 8px;
}

.form-inputs-input  {
    margin: 8px;
}

.form-buttons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.form-buttons-button {
    margin: 8px;
}

.button {
    background-color: #4CAF50;
    font-size: 12px;
    padding: 8px 16px;
    border-radius: 3px;
    cursor: pointer;
}

.input {
    background-color: white;
    font-size: 12px;
    padding: 8px 16px;
    border: 1px solid #4a4a4a;
    width: 160px;
    cursor: text;
}
.input::placeholder {
    color: #4a4a4a;
}