@use '../config'
@use '../utils'

.button
  font-family: 'Montserrat', sans-serif
  background-color: rgba(6, 189, 251, 0.898)
  font-size: larger
  color: white
  width: 40%
  height: 60px
  font-weight: bolder

  &:hover
    background-color: rgb(42, 165, 67)

.question
  font-family: 'Montserrat', sans-serif
  font-size: 16px

.blue
  color: rgb(42, 165, 58)