.Home__header 
    position: fixed
    top: 0
    background-color: ghostwhite
    width: 100%


.Home__footer 
    position: fixed
    bottom: 0
    background-color: ghostwhite
    width: 100%


.Home__list
    list-style-type: none
    padding: 0
    margin-bottom: 3rem
