<!DOCTYPE html>
<lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page</title>
    <link rel="stylesheet" href="./styles.css">
</head>
<body>
    <div class="auth_login">
        <h1 class="auth__title">Login Form</h1>
        <form class="auth__form">
            <input class="auth__form__input" type="email" name="email" placeholder="Email Address">
            <input class="auth__form__input" type="password" name="password" placeholder="Password">
            <button class="auth__form__btn" type="submit" class="">Login</button>
            <p class="auth__form__link">Not a member? <a href="#">Sign up now</a></p>
        </form>
    </div>

    <div class="auth_register">
        <h1 class="auth__title">Register Form</h1>
        <form class="auth__form">
            <input class="auth__form__input" type="text" name="username" placeholder="Username">
            <input class="auth__form__input" type="email" name="email" placeholder="Email Address">
            <input class="auth__form__input" type="password" name="password" placeholder="Password">
            <input class="auth__form__input" type="password" name="password" placeholder="Confirm Password">
            <button class="auth__form__btn" type="submit" class="">Register</button>
            <p class="auth__form__link">Already have an account? <a href="#">Sign in </a></p>
        </form>
    </div>

    <div class="home">
        <section class="content">
            <h1 class="content__title">Welcome</h1>
            <div>
            <button class="content__btn__login" type="submit" class="">Login</button>
            <button class="content__btn__register" type="submit" class="">Register</button>
            </div>
        </section>
    </div>
    
</body>

<script src="./main.js"></script>

</html>