* {
    padding: 0;
    margin: 0;
    border: none;
    color: black;
    opacity: 1;
    outline: none;
    pad: 0;
    box-sizing: border-box;
}

body {
    height: 100%;
    display: flex;
    justify-content: center;
    background-color: burlywood;
    align-items: center;
    
}

.auth_login{
    margin: 10px;
    width: 350px;
    height: 60%;
    background-color: white;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.auth_register{
    
    margin: 10px;
    width: 350px;
    height: 60%;
    background-color: white;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.auth__form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.auth__form__register{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.auth__form__input{
    margin: 10px 0;
    width: 50%;
    height: 25px;
    border-radius: 2px;
    padding-left: 5px;
    border: 2px solid grey;
}

.auth__form__btn{
    margin: 10px 0;
    width: 50%;
    height: 35px;
    font-weight: bold;
    border-radius: 2px;
    border: 2px solid burlywood;
    background-color: #deb887;
    cursor: pointer;
}

/* Login/Register */



/* Landing */

.home{
    display: flex;
    width: 100%;
    height: 100%;
    background-image: url(https://www.popwebdesign.net/images/graphic-design/graphics/illustration.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 20px;
    background-position: 300px 0;
}

.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.content__title{
    color: white;
    font-size: 40px;
}

.content__btn__login{
    background-color: white;
    font-weight: bold;
    border-radius: 10px;
    margin-right: 10px;
    height: 35px;
    width: 150px;
    border: 0;
    cursor: pointer;
}

.content__btn__register{
    background-color: white;
    font-weight: bold;
    border-radius: 10px;
    margin-right: 10px;
    height: 35px;
    width: 150px;
    border: 0;
    cursor: pointer;
}

.content__btn:hover{
    background-color: khaki;
}

.off {
    display: none !important;
}