.Home
    width: 100%
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    background-color: rgb(189, 189, 134)


.Home__header
    position: fixed
    top: 0
    background-color: ghostwhite
    width: 100%
    display: flex
    

.Home__list
    padding: 0
    

.Home__footer
    position: fixed
    bottom: 0
    background-color: ghostwhite
    width: 100%

