.center_row
    display: flex
    flex-direction: row
    align-content: center
    justify-content: center
    border: 1px
    border-radius: 50px
    height: 100%
.off
    display: none
.on
    display: block

.scroll-container 
  overflow: scroll
  padding-bottom: 64px
  padding-top: 769px
  width: auto
  overflow-x: hidden
  padding-right: 20px

   
