.gridTwo_small
  display: grid
  grid-template-columns: 11% 55%
  justify-content: center
  border: 1px black solid
  border-radius: 10px
  padding: 8px
  margin-left: 10%
  margin-right: 14%

.gaps
  margin-top: 1.5rem

 