<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
    <link href='https://fonts.googleapis.com/css?family=Baloo' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Baloo 2' rel='stylesheet'>
</head>
<body>

    <div class="page">
        <figure>
            <!-- <figcaption></figcaption> -->
            <img src="logo.svg">
        </figure>
            

        <div class="sub_page" style="display: none;">
            <button type="button" class="button">GET STARTED</button>
            <button type="button" class="but_light">I already have an account</button>
        </div>
        

        <form class="sub_page" style="display: none;">
            <fieldset>
                <!-- <legend>hola</legend> -->
                <input class="input" type="text" name="username" placeholder="Username">
                <input class="input" type="text" name="password" placeholder="Password">
                <!-- <button type="reset">reset</button> -->
            </fieldset>
            <div class="sub_page">
                <button type="submit" class="button">LOG IN</button>
                <a href="/" class="but_light">go back</a>
            </div>
        </form>

        
        <form class="sub_page" style="-display: none;">
            <fieldset>
                <input class="input" type="text" name="username" placeholder="Username">
                <input class="input" type="text" name="enamil" placeholder="Email">
                <input class="input" type="text" name="password" placeholder="Password">
                <input class="input" type="text" name="r_password" placeholder="Repeat password"> 
            </fieldset>
            <div class="sub_page">
                <button type="submit" class="button">REGISTER</button>
                <a href="/" class="but_light">go back</a>
            </div>
        </form>

    </div>

    
</body>
</html>