<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Demo app</title>
    <link rel="stylesheet" href="style.css">
    <script src="main.js" defer></script>
</head>

<body>
  
    <!-- Pagina principal -->
    <main class="off landing page">
        <figure>
            <!-- <figcaption></figcaption> -->
            <img src="logo.svg">
        </figure>

        <div class="page_sub">
            <a href="#" class="start-button button">GET STARTED</a>
            <a href="#" class="have-button but_light">I already have an account</a>
        </div>  
    </main>

    <!-- Pagina de entrada -->
    <main class="off login page">
        <figure>
            <!-- <figcaption></figcaption> -->
            <img src="logo.svg">
        </figure>

        <form class="page_sub">
            <fieldset>
                <!-- <legend>introduce tus datos</legend> -->
                <input class="input" type="text" name="username" placeholder="Username" >
                <input class="input" type="password" name="password" placeholder="Password" >
                <!-- <button type="reset">Reset</button> -->
            </fieldset>
            <div class="page_sub">
                <button type="submit" class="button">LOG IN</button>
                <a href="#" class="back-button but_light">go back</a>
            </div>
        </form>
    </main>

    <!-- Pagina de registro -->
    <main class="off register page">
        <figure>
            <!-- <figcaption></figcaption> -->
            <img src="logo.svg">
        </figure>

        <form class="page_sub">
            <fieldset>
                <input class="input" type="text" name="username" placeholder="Username" >
                <input class="input" type="text" name="enamil" placeholder="Email" >
                <input class="input" type="password" name="password" placeholder="Password" >
                <input class="input" type="password" name="r_password" placeholder="Repeat password" > 
            </fieldset>
            <div class="page_sub">
                <button type="submit" class="button form">REGISTER</button>
                <a href="#" class="back-button but_light">go back</a>
            </div>
        </form>
    </main>



    <!-- DENTRO de la web -->
    <!--   Pagina home    -->
    <main class="off home page_home">
        <h1>Home page</h1>

        <div class="gallery">
            <div class="gallery_item">1</div>
            <div class="gallery_item">2</div>
            <div class="gallery_item">3</div>
            <div class="gallery_item">4</div>
            <div class="gallery_item">5</div>
            <div class="gallery_item">6</div>
            <div class="gallery_item">7</div>
            <div class="gallery_item">8</div>
            <div class="gallery_item">9</div>
        </div>

    </main>


</body>
</html>