@import url("https://fonts.googleapis.com/css2?family=Baloo:wght@400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;500;600;700;800&display=swap");
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  box-sizing: border-box;
  width: 100%;
  font-family: "Baloo 2";
}

a {
  text-decoration: none;
}

.button {
  border: none;
  border-radius: 10rem;
  background-color: #1D3B67;
  color: #E2E9FF;
  font-family: "Baloo";
  font-weight: 400;
  font-style: normal;
  font-size: 22px;
  width: 180px;
  text-align: center;
  padding: 6px 0px;
  cursor: pointer;
}
.button_light {
  border: none;
  background-color: transparent;
  color: #E2E9FF;
  margin-bottom: 2.5rem;
  cursor: pointer;
  font-family: "Baloo";
  font-weight: 400;
  font-style: normal;
  font-size: 22px;
}

.input {
  border-radius: 0.5rem;
  border: none;
  padding: 0.2rem;
  background-color: #E2E9FF;
  width: 80%;
  font-family: "Baloo 2";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  text-align: center;
  outline: none;
  cursor: text;
}
.input::placeholder {
  color: #749FC7;
}

body {
  background-color: #749FC7;
}

.page {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 100%;
}
.page_sub {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 1.5rem;
}
.page_home {
  display: flex;
  flex-direction: column;
  align-items: center;
}

figure {
  height: 100%;
  display: flex;
}

fieldset {
  border: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 25px;
}

.gallery {
  border: 1px solid black;
  width: 80%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 325px;
  box-sizing: border-box;
}
@media (min-width: 660px) {
  .gallery {
    display: grid;
    width: 625px;
    grid-template-areas: "a1 a2 a2" "a1 a3 a3" "a4 a4 a6" "a5 a5 a6" "a7 a8 a8" "a7 a9 a9";
  }
}
@media (min-width: 1024px) {
  .gallery {
    width: 975px;
  }
}
.gallery_item {
  border: 1px solid red;
  text-align: center;
  overflow: hidden;
  align-items: center;
  position: relative;
  height: 125px;
}
@media (min-width: 660px) {
  .gallery_item {
    width: 410px;
    height: 170px;
  }
  .gallery_item:nth-child(1) {
    grid-area: a1;
    width: 200px;
    height: 350px;
  }
  .gallery_item:nth-child(2) {
    grid-area: a2;
  }
  .gallery_item:nth-child(3) {
    grid-area: a3;
  }
  .gallery_item:nth-child(4) {
    grid-area: a4;
  }
  .gallery_item:nth-child(5) {
    grid-area: a5;
  }
  .gallery_item:nth-child(6) {
    grid-area: a6;
    width: 200px;
    height: 350px;
  }
  .gallery_item:nth-child(7) {
    grid-area: a7;
    width: 200px;
    height: 350px;
  }
  .gallery_item:nth-child(8) {
    grid-area: a8;
  }
  .gallery_item:nth-child(9) {
    grid-area: a9;
  }
}
@media (min-width: 1024px) {
  .gallery_item {
    width: 640px;
    height: 265px;
  }
  .gallery_item:nth-child(1) {
    grid-area: a1;
    width: 320px;
    height: 550px;
  }
  .gallery_item:nth-child(6) {
    grid-area: a6;
    width: 320px;
    height: 550px;
  }
  .gallery_item:nth-child(7) {
    grid-area: a7;
    width: 320px;
    height: 550px;
  }
}

.item_back {
  width: 100%;
}

.marco-texto {
  position: absolute;
  bottom: 0;
  background-color: rgba(62, 177, 146, 0.4666666667);
  width: 50%;
  height: 60%;
}

@media (min-width: 660px) {
  .vertical {
    width: 100%;
    height: 50%;
  }

  .horizontal {
    width: 50%;
    height: 100%;
  }

  .derecha {
    float: right !important;
  }
}
.texto-encima {
  position: absolute;
  bottom: 0;
  padding: 10px;
  font-size: 12px;
  text-align: left;
}
@media (min-width: 660px) {
  .texto-encima {
    font-size: 15px;
  }
}

.off {
  display: none !important;
}

/*# sourceMappingURL=style.css.map */
