@import url('https://fonts.googleapis.com/css2?family=Baloo:wght@400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;500;600;700;800&display=swap');

html, body {
    margin: 0;
    height: 100%;
}

body {
    background-color:#749FC7;
    box-sizing: border-box;
    width: 100%;    
}

.page {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 100%;
}
.page_sub {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 1.6rem; 
}
.page_home {
    display: flex;
    flex-direction: column;
    align-items: center;
}

figure {
    height: 100%;
    display: flex;
}
fieldset{
    border: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 25px;
}

.button {
    border: none;
    border-radius: 10rem;
    background-color: #1D3B67;
    color: #E2E9FF;
    width: 180px;
    text-align: center;
    padding: 6px 0px;
    cursor: pointer;
    
    font-family: 'Baloo';
    font-weight: 400;
    font-style: normal;
    font-size: 22px;
}

.but_light {
    border: none;
    background-color: transparent;
    color: #E2E9FF;
    margin-bottom: 3rem;
    cursor: pointer;
    
    font-family: 'Baloo';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 36px;
}

.input {
    border-radius: .5rem;
    border: none;
    padding: .2rem;
    background-color: #E2E9FF;
    width: 80%;
    
    font-family: 'Baloo 2';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    text-align: center;
    outline: none;
    cursor: text;
}
.input::placeholder{
    color: #749FC7;
}
a {
    text-decoration: none;
}

.container {

}



.gallery {
    border: 1px solid black;
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.gallery_item {
    border: 1px solid blue;
    min-height: 130px;
    text-align: center;
}

@media (min-width: 650px){
    .gallery {
        background-color: aquamarine;
        display: grid;
        grid-template-areas: "a1 a2 a3" "a6 a5 a4" "a6 a8 a9";
    }

    .gallery_item:nth-child(1) {
        background-color: red;
        grid-area: a6;
    }
}


.off {
    display: none !important;
}