@import url('https://fonts.googleapis.com/css2?family=Cabin+Sketch:wght@400;700&display=swap')
.Form
    width: 50%
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    gap: 3rem
    border: 1px

.Center
    display: flex
    flex-direction: column
    align-items: center
    border: 1px
    border-radius: 50px
    height: 100%

.borderDawn
    border: none
    border-bottom: 1px solid #001E6C
    background: none
    justify-content: center
    text-align: center
    color: white
.btn
    background: #93FFD8
    border-radius: 40px
    width: 8.5rem
    height: 2.8rem
.btn_red

    background: #ef1443
    border-radius: 40px
    width: 8.5rem
    height: 2.8rem

.btn_small_red

    background: #ef1443
    border: none
    border-radius: 40px
    width: 2.7rem
    height: 2.8rem
.btn_small_green

    background: #14ef23
    border: none
    border-radius: 40px
    width: 2.7rem
    height: 2.8rem
.btn_small
    background: none
    border: none
    border-radius: 40px
    width: 2.7rem
    height: 2.8rem    
.logo
    text-align: center
    font-size: 60px
    color: #fff
    background-image: linear-gradient(45deg,#D3EBCD 0%,#AEDBCE 35%,#839AA8 85%,#635666 100%)
    -webkit-text-fill-color: transparent
    -webkit-background-clip: text
    color: #fff
html
    height: 100%
    display: flex
    align-items: center
