table, tr, td, th {
    border: 2px solid black;
    border-radius: 2px;
    background-color: grey;
    color: white;
    font-family: 'Courier New', Courier, monospace;
}

h1 {
    font-size: 36px;
}

tr {
    height: 30px;
}

[colspan*='2'] {
    text-align: center;
}

* {

    margin: 30px;
}